
body{
background:whitesmoke
} 
* {
    margin: 0;
    padding: 0;
}

#barreOutil {
    width: 100%;
    height: 100px;
    background-color: rgb(210, 210, 210);
}

#cv {
    background: whitesmoke;
}
.selected {
    background: blue;
    color: white;
}
#barreOutil button {
    width: auto;
    padding: 5px;
    height: auto    ;
    border-radius: 10px;
}


.interface{
    position: fixed;
    left: 0;
    top :0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: rgba(100, 100, 100, 0.5);
}
.interface-content{
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 120px;
}

.hidden{
    display: none;
}
 table{
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid black;
    margin-bottom: 1em;
}  
table th,td,tr{
    border: 1px solid black;
}
table th,td{
    width: 3em;
    text-align: center;
    height: 1.5em;
}
.test{
    color: #272727;
}
.center{
    text-align: center;
}
.noPadding{
    padding: 0px;
}
.padding{
    padding-left: 10px;
}